<%- include ('../partials/header') %>

<div class="ui container">
	<div class="ai">
		<div class="ai-user">
			<h1 class="ai-user_name">Hello <%=user.username %></h1>
			<p>Wizard Since <%=user.dateCreates %></p>
		</div>
		<div class="ai-controls">
			<div>
				<a href="/journals/write"
					><button class="ui primary button ji-body_button">
						Write your own!
					</button></a
				>
				<a href="/journals"
					><button class="ui button ji-body_button">
						Home Journals
					</button></a
				>
			</div>

			<%if(currentUser){%>
			<div class="ai-controls_logout">
				<a href="/logout"
					><button class="ui button ji-body_button">Logout</button></a
				>
			</div>
			<%}%>
		</div>

		<div
			class="ji-body-card ui three column grid doubling stackable masonry grid"
		>
			<% journals.forEach((journal) => { %>
			<div class="column">
				<a
					class="ui fluid <%=journal.genre%> card"
					href="/journals/<%=journal._id%>"
				>
					<div class="content">
						<div class="card-label">
							<p class="ui red ji-body-card_title">
								<%=journal.title%>
							</p>
							<p
								class="ui <%=journal.genre%> right ribbon tiny label card-label_label"
							>
								<%=journal.genre%>
							</p>
						</div>
						<!-- <div class="ui top right attached red label">Code</div> -->
						<div class="description">
							<p>
								<%= journal.prologue %>
							</p>
						</div>
					</div>
					<!-- <div class="extra content">
                            <i class="check icon"></i>
                            121 Votes
                        </div> -->
				</a>
			</div>
			<% }) %>
		</div>
	</div>
</div>

<%- include ('../partials/footer') %>
