<%- include ('../partials/header') %>

<div class="ui container">
	<h1>Hello <%=user %></h1>

	<div class="ui three column grid doubling stackable masonry grid">
		<% journals.forEach((journal) => { %>
		<div class="column">
			<a class="ui fluid card" href="/journals/<%=journal._id%>">
				<div class="content">
					<div class="header"><%= journal.title %></div>
					<div class="meta">Animal</div>
					<div class="description">
						<p>
							<%= journal.body %>
						</p>
					</div>
				</div>
				<!-- <div class="extra content">
                            <i class="check icon"></i>
                            121 Votes
                        </div> -->
			</a>
		</div>
		<% }) %>
	</div>
</div>

<%- include ('../partials/footer') %>
