<%- include('../partials/header') %>

<section class="ji-banner">
	<div class="ji-banner-div">
		<p class="ji-banner-div_title">perusal</p>
		<span class="ji-banner-div_meaning">/pəˈruːz(ə)l/</span>
	</div>
</section>

<div class="ui container ji-body">
	<div class="ji-body_button">
		<div>
			<a href="/journals/write"
				><button class="ui button ji-body_button">
					Write your own!
				</button></a
			>
		</div>
		<% if(currentUser) { %>
		<div class="ji-body_button_profile">
			<a href="/<%= currentUser.username %>"
				><button class="ui button ji-body_button">
					<%= currentUser.username %>
				</button></a
			>
		</div>
		<% } %>
	</div>

	<div
		class="ji-body-card ui three column grid doubling stackable masonry grid"
	>
		<% journals.forEach((journal) => { %>
		<div class="column">
			<a class="ui fluid red card" href="/journals/<%=journal._id%>">
				<div class="content">
					<div class="ui red ji-body-card_title">
						<%=journal.title%>
					</div>
					<div class="ui red right ribbon tiny label">Specs</div>
					<!-- <div class="ui top right attached red label">Code</div> -->
					<div class="description">
						<p>
							<%= journal.prologue %>
						</p>
					</div>
				</div>
				<!-- <div class="extra content">
                            <i class="check icon"></i>
                            121 Votes
                        </div> -->
			</a>
		</div>
		<% }) %>
	</div>
</div>

<%- include('../partials/footer') %>
