<%- include('../partials/header') %>

<section class="ji-banner">
	<div class="ji-banner-div">
		<p class="ji-banner-div_title">perusal</p>
		<span class="ji-banner-div_meaning">/pəˈruːz(ə)l/</span>
	</div>
</section>

<div class="ui container ji-body">
	<div class="ji-body_button">
		<div>
			<a href="/journals/write"
				><button class="ui button ji-body_button">
					Write your own!
				</button></a
			>
		</div>
		<% if(currentUser) { %>
		<div class="ji-body_button_profile">
			<a href="/<%= currentUser.username %>"
				><button class="ui button ji-body_button">
					<%= currentUser.username %>
				</button></a
			>
		</div>
		<% } %>
	</div>

	<div
		class="ji-body-card ui three column grid doubling stackable masonry grid"
	>
		<% journals.forEach((journal) => { %>
		<div class="column">
			<a
				class="ui fluid <%=journal.genre%> card"
				href="/journals/<%=journal._id%>"
			>
				<div class="content">
					<div class="card-label">
						<p class="ui red ji-body-card_title">
							<%=journal.title%>
						</p>
						<p
							class="ui <%=journal.genre%> right ribbon tiny label card-label_label"
						>
							<%switch (journal.genre) { case 'red':%> Blog <%
							break %> <%case 'orange':%> Poem <% break %> <%case
							'green':%> Journal <% break %> <%case 'teal':%>
							Poetry <% break %> <%case 'violet':%> Thoughts <%
							break %> <%case 'black':%> Entry <% break %> <%}%>
						</p>
					</div>

					<!-- <div class="ui top right attached red label">Code</div> -->
					<div class="description">
						<p>
							<%= journal.prologue %>
						</p>
					</div>
				</div>
				<!-- <div class="extra content">
                            <i class="check icon"></i>
                            121 Votes
                        </div> -->
			</a>
		</div>
		<% }) %>
	</div>
</div>

<%- include('../partials/footer') %>
