<%- include('../partials/header') %>

<div class="jj">
	<div class="ui container">
		<div class="jj-button">
			<a href="/journals"
				><button class="ui labeled icon button">
					<i class="left arrow icon"></i>
					Journals
				</button></a
			>
			<%if(!currentUser){%>
			<a class="jj-button_login" href="/login"
				><div class="ui button">Login</div></a
			>
			<%}%>
		</div>
		<div class="ui piled <%=journal.genre%> segment jj-journal">
			<p class="jj-journal_title"><%= journal.title%></p>
			<p><%= journal.body%></p>
			<br />
			<br />
			<div class="jj-journal-author">
				<p>
					<em>By </em><span class="jj-author_text"></span>
					<a href="/<%=journal.author.username%>">
						<em><%=journal.author.username%></em>
					</a>
				</p>
				<div class="ui right floated jj-journal-author_controls">
					<% if(currentUser &&
					journal.author.id.equals(currentUser._id)) {%>
					<div>
						<a href="/journals/<%=journal._id%>/edit"
							><button
								class="ui secondary mini button jj-journal-author_controls_edit"
							>
								Edit
							</button></a
						>
					</div>
					<div>
						<form
							action="/journals/<%=journal._id%>/delete"
							method="post"
						>
							<button class="ui mini button">
								Delete
							</button>
						</form>
					</div>

					<% } %>
				</div>
			</div>
		</div>

		<div class="ui comments">
			<h3 class="ui dividing header jj-comments">Comments</h3>
			<div class="comment">
				<% journal.comments.forEach((comment) => { %>
				<!-- <a class="avatar">
					<img src="/images/avatar/small/matt.jpg" />
				</a> -->
				<div class="content">
					<a href="/<%=comment.author.username %>" class="author"
						><%=comment.author.username %></a
					>
					<div class="metadata">
						<span class="date"><%=comment.writtenAt %></span>
					</div>
					<div class="text">
						<%=comment.text %> <% if(currentUser &&
						comment.author.id.equals(currentUser._id)) {%>
						<div class="jj-comments_controls">
							<div>
								<a
									href="/journals/<%=journal._id%>/comments/<%=comment._id%>/edit"
									>Edit</a
								>
							</div>
							<div>
								<form
									action="/journals/<%=journal._id%>/comments/<%=comment._id %>"
									method="post"
								>
									<button class="btn-to-a">Delete</button>
								</form>
							</div>
						</div>

						<% } %>
					</div>
				</div>
				<% }) %>
			</div>
			<div class="mini ui button jj-comments_add reset_btn">
				<a href="/journals/<%=journal._id%>/comments/write"
					>Add Comment</a
				>
			</div>
		</div>
	</div>
</div>

<%- include('../partials/footer') %>
