<p><%= journal.title%></p>
<p><%= journal.body%></p>
<p><%= journal.author.username%></p>
<% if(currentUser && journal.author.id.equals(currentUser._id)) {%>
<a href="/journals/<%=journal._id%>/edit">Edit</a>
<form action="/journals/<%=journal._id%>/delete" method="post">
	<button>Delete</button>
</form>
<% } %>

<h4>Comments</h4>
<% journal.comments.forEach((comment) => { %>
<p><%=comment.author.username %></p>
<p><%=comment.text %></p>
<% if(currentUser && comment.author.id.equals(currentUser._id)) {%>
<a href="/journals/<%=journal._id%>/comments/<%=comment._id%>/edit">Edit</a>
<form
	action="/journals/<%=journal._id%>/comments/<%=comment._id %>"
	method="post"
>
	<button>Delete</button>
</form>
<% } %> <% }) %>
