<%- include('../partials/header') %>
<div class="ui container">
	<div class="ce-form">
		<p class="ce-form_header">Make it diabolic, will ya!</p>
		<form
			class="ui reply form"
			action="/journals/<%=journal_id %>/comments/<%=comment._id %>/edit"
			method="post"
		>
			<div class="field">
				<label for="text">Comment</label>
				<textarea name="text" id="text"><%= comment.text%></textarea>
			</div>

			<div class="field">
				<button class="ui positive button" type="submit">
					Comment
				</button>
			</div>
		</form>
	</div>
</div>

<%- include('../partials/footer') %>
